<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title></title>
</head>
<body>
	<div class='container'>
		<h1> Rock Paper Scissors </h1>
		<form action='/results'>
			<div class='form-group'>
				<div class='row'>
					<div class='col-md-3'>
						<p>Select Player 1:</p>
						<select name='user_input'>
							<option value="rock">Rock</option>
							<option value="paper">Paper</option>
							<option value="scissors">Scissors</option>
						</select>
					</div>
					<div class='col-md-3'>
						<p>Select Player 2:</p>
						<select name='system_input'>
							<option value="computer_pick">Computer Pick</option>
							<option value="rock">Rock</option>
							<option value="paper">Paper</option>
							<option value="scissors">Scissors</option>
						</select>
					</div>
				</div>
			</div>
			<button type='submit' class='btn-success'>Submit</button>
		</form>
	</div>
</body>
</html>
