<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title> </title>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6'>
                    <h1> Results: </h1>
                    <h3> User 1: {{ user1 }} </h3>
                    <h3> User 2: {{ user2 }} </h3>
                    <h2> {{ result }}!</h2>
                </div>
            </div>  <!-- End of row -->
            <p></p>
            <strong><a href='/'>Back to input form</a></strong>
        </div>  <!-- End of container -->
    </body>
</html>
